<!-- <div class="dashboard-container">
    <h1>Dynamic Dashboard</h1>
    <div class="widget-container">
        <div class="widget-card" *ngFor="let widget of widgets">
          <ng-container *ngComponentOutlet="componentMap[widget.type]"></ng-container>
        </div>
      </div>
  </div>
   -->
   <div class="dashboard-container">
    <h1>Dynamic Dashboard</h1>
    <div class="add-widget-button-container">
      <button *ngFor="let widget of availableWidgets" (click)="addWidget(widget.type)">
        Add {{ widget.type | titlecase }} Widget
      </button>
    </div>
  
    <div cdkDropList class="widget-container" [cdkDropListOrientation]="'horizontal'" (cdkDropListDropped)="drop($event)" >
      <div
        class="widget-card"
        *ngFor="let widget of widgets; let i = index"
        cdkDrag  
      >
      <div class="drag-handle" cdkDragHandle>☰</div>
      <ng-container *ngIf="componentMap[widget.type]">
        <ng-container *ngComponentOutlet="componentMap[widget.type]"></ng-container>
      </ng-container>
      <div class="resize-handle" cdkDragDisabled></div>
        <button (click)="removeWidget(i)">Remove</button>
      </div>
    </div>
 </div>